*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo{
    color:white;
    font-weight: bolder;
    font-size: 25px;
    margin-left:55px;
    
}
.logo i{
    color:aqua;
    font-size: 55px;
    padding-left: 5px;
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a :hover{
    background-color: aquamarine;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
.background{
    display: flex;
     align-items: center;
     justify-content: center;
     background: url(images//tech.jpg) no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 17rem;
     padding-bottom: 10rem;
     margin-bottom: 30px;

 }
 .background h3{
     position: absolute;
     top:115px;
     padding:50px;
     
     color:white;
     font-size: 35px;
     line-height: 1.8;
     text-align: center;
 }
.background #btn1{
    padding:5px 15px;
    background-color: rgb(96, 20, 184);
    color:pink;
    font-size:20px;
    font:bold;
    border:1px solid white transparent;
    

}
.background #btn2{
    margin-left:15px;
    padding:5px;
    background-color: red;
    color:white;
    padding-left:15px;
    font-size: 20px;
    font:bold;
    padding-right: 15px;
    border:1px solid white transparent;

}
.container h1{
    text-align: center;
    font-size:40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px 0px royalblue;

}
.container span{
    color: rgb(14, 46, 228);
    font-size: 40px;
}
.grid{
    margin:80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    align-items: center;
}
   .grid >article{
       background:#eee;
       border: none;
       box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
       border-radius: 20px;
       text-align: center;
       width: 250px;
       transition:transform .3s;
   } 
.grid>article:hover{
    transform: translateY(5px);
    box-shadow:2px 2px 6px 0px rgba(0,0,0,0.3) ;

}
.grid >article img{
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    padding: 0 20px 20px;
}
.text h1{
    text-transform: uppercase;

}
.text button{
    background:royalblue;
    border-radius: 20px;
    border:none;
    color: white;
    padding:10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}
@media(max-width:768px){
.grid{
   grid-template-columns: repeat(1,2fr);
}
 }
 
 @media(max-width:768px){
    .grid{
       grid-template-columns: repeat(1,2fr);
    }
    .grid >article{
        text-align: center;
    }
    }
    
.teamsection{
    overflow: hidden;
    text-align: center;
    background:rgb(3, 108, 116);
    padding: 60px;
}
.teamsection h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color:black;
    font-size:40px;
}
.teamsection h1 span{
    text-transform: uppercase;
    margin-bottom: 60px;
    color:rgb(156, 234, 248);
    font-size:40px;
}
.border{
    display: block;
    margin:auto;
    width:160px;
    height: 160px;
    background:#3498db;
    margin-bottom :40px;
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin:0 30px;
    width:160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.ps a img:hover{
    filter: none;
}
.section{
    width: 600px;
    margin:auto;
    font-size: 20px;
    color:white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;

}



.contact{
    margin:0 , 15em;
}

.contact .row{
    display: flex;
    background:rgba(68, 100, 100, 0.733);
    flex-wrap: wrap;
    gap:5rem;

}
.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    
    object-fit: cover;
}
.contact-section{
    margin: auto;
    border:1px solid black;
    width: 35%;
    text-align: center;

}
.contact-heading{
    color:rgb(36, 33, 33);
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    margin:auto;
    border: 1px solid black;
   background-color:rgba(240, 213, 177, 0.445);

    
}

.contact-btn {
    background-color: burlywood;
    padding:10px 20px;
    margin-bottom:15px;
    border: 1px solid white transparent;
    font-size:1.7rem;
}
.contact-btn:hover{
    color:white;
    background-color: rgb(224, 142, 34);
}
#newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../images/newsletter.jpg);
    height: 30rem;
    background-size: cover;
    background-position: center;
}
#newsletter .heading h1{
    margin:auto;
}
#newsletter .input_signup{
    height: 17rem;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#newsletter .input_signup input{
    max-width: 35rem;
    height: 4rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: #82589F;
}
#newsletter .input_signup button{
    height: 4rem;
    font-size: 1.4rem;
    margin-left: 0.8rem;
    color: rgb(248, 246, 246);
    font-weight: 600;
    background: #06060c;
    padding: 1rem 0.8rem;
}
#newsletter .input_signup button:hover {
    background: #82589F;
    color: #fff;
}

.innerfooter{
    background-color: black;
    
}
.sociallinks{
    display: flex;
    width: 500px;
    height: 70px;
    margin: auto;

}
.sociallinks ul {
    display: flex;
}
.social-icons{
    list-style: none;
    margin-top:10px;
}
.social-icons a{
    padding:0px 20px;
    font-size: 35px;
    color: aqua;
    transition: all .4s;
    margin-top: 5px;

}
.social-icons a:hover{
    color:white;
}

.quick-links{
    display: flex;
    width: 500px;
    height: 70px;
    margin: auto;

}
.quick-links ul{
    display: flex;
}
.quick-items{
    list-style:none;
}
.quick-items a{
    text-decoration: none;
    padding:0px 15px;
    font-size: 18px;
    color:aqua;
    transition: all;
}
.quick-items a:hover{
    color:white;
}
.outer-footer{
    padding: 15px;
    text-align: center;
    color:white;
    font-size: 20px;
    background-color: rgb(27, 27, 27);
    word-spacing: 15PX;
    
}
